################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BetterSteadycam/obj
/DesktopCamera/obj
/TrackingRotator/obj
/.vs
/Output
