################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/*/obj
/Output
/ILRepack
/BetterAVPreview
/RepositionQM
