################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Output
/ILRepack
/BetterPortalPlacement/obj
/ProneUiFix/obj
/ToggleFullScreen/obj
/BetterAVPreview
/.vs
